.d-block {
    height: 90vh;
    object-fit: cover;
    }

.carousel-caption h5 {
    font-size: 100px;
    }

.carousel-caption p {
    font-size: 20px;
    }

.card-img-top {
    border-radius : 50%;
    width: 150px;
    height:150px;
    object-fit: cover;
    }

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 50px;
    }

#adv {
    display: flex;
    justify-content: center;
    }

.mr-3 {
    height : 500px;
    width : 500px;
    object-fit: cover;
    margin: 20px;
    }

.media {
    display:flex;
    justify-content: center;
    align-items: center;
}

.media h5 {
    font-size: 50px;
}
.ville {
    color:#FC5255;
}